<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

{% extends "base.html" %} {% block title %}Cliente{% endblock %} {% block
content %}

<script type="text/javascript">
  $("#telefone").mask("(00) 0000-0000");
  $("#cpf").mask("000.000.000-00");
  $("#dia_fiado").mask("00/00/00");
</script>

<div class="container">
  <form name="cliente" id="cliente" action="" method="POST">
    <h1>Cadastro de Cliente</h1>
    <div class="form-group">
      <label for="id">Código</label>
      <br />
      <input
        class="form-control"
        type="text"
        name="id"
        id="id"
        value=""
        placeholder="Código"
        readonly
      />
      <br />
    </div>

    <div class="form-group">
      <label for="nome">Nome Cliente</label>
      <br />
      <input
        class="form-control"
        type="text"
        name="nome"
        id="nome"
        value=""
        placeholder="Nome Cliente"
        maxlength="100"
        autofocus
        required
      />
      <br />
    </div>

    <div class="form-group">
      <label for="cpf">CPF</label>
      <br />
      <input
        class="form-control"
        type="text"
        name="cpf"
        id="cpf"
        value=""
        placeholder="CPF"
        maxlength="15"
        required
      />
      <br />
    </div>

    <div class="form-group">
      <label for="telefone">Telefone</label>
      <br />
      <input
        class="form-control"
        type="text"
        name="telefone"
        id="telefone"
        value=""
        placeholder="Telefone/ Celular"
        maxlength="15"
        required
      />
      <br />
    </div>

    <div class="form-group">
      <label for="senha">Senha</label>
      <br />
      <input
        class="form-control"
        type="password"
        name="senha"
        id="senha"
        value="Bolinhas"
        placeholder="Senha"
        required
      />
      <br />
    </div>

    <div class="form-group">
      <label for="resenha">reSenha</label>
      <br />
      <input
        class="form-control"
        type="password"
        name="resenha"
        id="resenha"
        value="Bolinhas"
        placeholder="Senha"
        required
      />
      <br />
    </div>

    <div class="form-group">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="compraFiado"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Cliente poderá efetuar compras no fiado</label
        >
      </div>
    </div>
    <br />

    <button
      class="btn btn-success"
      type="submit"
      name="salvaUsuarioDB"
      id="salvaUsuarioDB"
    >
      <i class="fas fa-save"></i> Salvar
    </button>
  </form>
</div>
{% endblock %}
