<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

{% extends "base.html" %} {% block title %}Cliente{% endblock %}

{% set id = result[0].id_cliente if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set cpf = result[0].cpf if result else '' %}
{% set telefone = result[0].telefone if result else '' %}
{% set senha = result[0].senha if result else '' %}
{% set compraFiado = result[0].compraFiado if result else '' %}
{% block content %}

<script type="text/javascript">
  $("#telefone").mask("(00) 0000-0000");
  $("#cpf").mask("000.000.000-00");
  $("#dia_fiado").mask("00/00/00");
</script>

<div class="container">
  <form name="{{ 'formEditar' if result else 'formAdicionar' }}"
    id="{{ 'formEditar' if result else 'formAdicionar' }}"
    action="{{ url_for('cliente.edit') if result else url_for('cliente.insert') }}"
    method="POST"
  >
    <h1>Cadastro de Cliente</h1>
    <div class="form-group">
      <label for="id">Código</label>
      <br />
      <input
        class="form-control"
        type="text"
        name="id"
        id="id"
        value="{{ id }}"
        placeholder="Código"
        readonly
      />
      <br />
    </div>

    <div class="form-group">
      <label for="nome">Nome Cliente</label>
      <br />
      <input
        class="form-control"
        type="text"
        name="nome"
        id="nome"
        value="{{ nome }}"
        placeholder="Nome Cliente"
        maxlength="100"
        autofocus
        required
      />
      <br />
    </div>

    <div class="form-group">
      <label for="cpf">CPF</label>
      <br />
      <input
        class="form-control"
        type="text"
        name="cpf"
        id="cpf"
        value="{{ cpf }}"
        placeholder="CPF"
        maxlength="15"
        required
      />
      <br />
    </div>

    <div class="form-group">
      <label for="telefone">Telefone</label>
      <br />
      <input
        class="form-control"
        type="text"
        name="telefone"
        id="telefone"
        value="{{ telefone }}"
        placeholder="Telefone/ Celular"
        maxlength="15"
        required
      />
      <br />
    </div>

    <div class="form-group">
      <label for="senha">Senha</label>
      <br />
      <input
        class="form-control"
        type="password"
        name="senha"
        id="senha"
        value="{{ senha }}"
        placeholder="Senha"
        required
      />
      <br />
    </div>

    <div class="form-group">
      <label for="resenha">reSenha</label>
      <br />
      <input
        class="form-control"
        type="password"
        name="resenha"
        id="resenha"
        value="{{ senha }}"
        placeholder="Senha"
        required
      />
      <br />
    </div>

    <div class="form-group">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="compraFiado"
          value="{{ compraFiado }}"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Cliente poderá efetuar compras no fiado</label
        >
      </div>
    </div>
    <br />

    <button
      class="btn btn-success"
      type="submit"
      name="salvaUsuarioDB"
      id="salvaUsuarioDB"
    >
      <i class="fas fa-save"></i> Salvar
    </button>
  </form>
</div>
{% endblock %}
