{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1>Dashboard da Pastelaria</h1>
{% if 'login' in session %}
Bem-vindo <b>{{ session['login'] }}</b>
{% endif %}
<ul>
  <li><a href="{{ url_for('index.formIndex') }}">Home</a></li>
  <li><a href="{{ url_for('cliente.formListaCliente') }}">Clientes</a></li>
  <li><a href="{{ url_for('produto.formListaProduto') }}">Produtos</a></li>
  <li>
    <a href="{{ url_for('funcionario.formListaFuncionario') }}">Funcionários</a>
  </li>
</ul>

{% endblock %}
